<div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <img class="hero" src="">
        </div>
      </div>
      <h1>Today's Customers</h1>

      <h3>Customer list</h3>
      <form method="GET" action="/customers">
        <label for="ticketFilter">Filter By Ticket:</label>
        <input type="search" id="ticketFilter" name="ticketFilter">
        <input type="submit">
      </form>
<ul>
    <li>
      <% customers.forEach((customer, index) => { %>
        
          <h5>
           Ticket: <%= customer.ticket %></a>
           First Name: <%= customer.firstName %></a>
           Last Name: <%= customer.lastName %></a>
           Phone: <%= customer.phone %></a>
           Email: <%= customer.email %></a>
           Message Count:<%= customer.messageCount%></a>
           <h5>
            <form method="POST" action="/customers/sms/<%= customer.phone %>">
                <input type="submit" value="Send SMS">
              </form>

              <form method="POST" action="customers/fullfilled/<%= customer.id %>/?_method=PUT">
                <input type = hidden value ="<%=customer.ticket%>" name ="ticket"/>
                <input type = hidden value ="<%=customer.firstName%>" name ="firstName"/>
                <input type = hidden value ="<%=customer.lastName%>" name ="lastName"/>
                <input type = hidden value ="<%=customer.phone%>" name ="phone"/>
                <input type = hidden value ="<%=customer.email%>" name ="email"/>
                <input type = hidden value ="<%=customer.messageCount%>" name ="messageCount"/>
                <input type = hidden value ="false" name ="unfullfilled"/>
                <input type="submit" value="Complete"> 
              </form>
      <% }) %>
</li>
</ul>
    </div>
  </div>
 