<h1>Edit Customer</h1>

<h3>Current Customer Info</h3>


Ticket: <%= customer.ticket %></a>
First Name: <%= customer.firstName %></a>
Last Name: <%= customer.lastName %></a>
Phone: <%= customer.phone %></a>
Email: <%= customer.email %></a>
Message Count:<%= customer.messageCount%></a>

<h3>Update Customers</h3>
<form action="/articles/edit/<%= article.id %>?_method=PUT" method='POST'>
<label for="New Content">New Content</label>
<input type="text" name="content" id="content">
<input type="submit" value="Submit Changes">
</form>