<ul>
    <li>
      <% customer.forEach((customer, index) => { %>
          <h5>
           Ticket: <%= customer.ticket %></a>
           First Name: <%= customer.firstName %></a>
           Last Name: <%= customer.lastName %></a>
           Phone: <%= customer.phone %></a>
           Email: <%= customer.email %></a>
           Message Count:<%= customer.messageCount%></a>
           <h5>
            <form method="POST" action="/customers/sms/<%= customer.phone %>">
                <input type="submit" value="Send SMS">
              </form>

            <form method="POST" action="/delete/<%= index %>/?_method=DELETE">
                <input type="submit" value="delete"> 
              </form>
      <% }) %>
</li>
</ul>