<h5>
<ul>  
    <li>Ticket: <%= customer.ticket %></a> </li>
    <li>First Name: <%= customer.firstName %></a></li>
    <li>Last Name: <%= customer.lastName %></a></li>
    <li> Phone: <%= customer.phone %></a></li>
    <li> Email: <%= customer.email %></a></li>
    <li>Message Count:<%= customer.messageCount%></a></li>
</ul>
<h5>